modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELLER_ENVIRONMENT = "development"
ADMIN_PASSWORD_HASH = "fc95900e976d572e84edf4fb3e93f417:c5ecb5835a82ba93e07f188107a420966c8ec5a5ca2ffd2893843c98dfd96962075e1f44471bcd2261ff4245e72af78cbe1e07e25611f9051a05da6c5f1566bd"
ADMIN_TOKEN_SECRET = "7GhbBMJ9ajDWlAI1awGft5De2uJ8Ih54U_1kiO6S9Lw"
ADMIN_REFRESH_SECRET = "fwT7FaMUuZW4fxeWMCPUCF4XoCO8EfMOK5uvrYYLdFY"

[nix]
channel = "stable-25_05"
